@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --background: #FEFEFA;
  --foreground: #0E0000;

  --color-whiteRed: #FEFEFA;
  --color-blackRed: #0E0000;
  --color-darkRed: #460000;
  --color-crimsonRed: #911A1C;
  --color-pastelPink: #F1AD93;
  --color-mistyRose: #F3CCB1;
  --color-grayPink: #A07C7B;
  --color-bgColor: #FFF3F0;

  --font-poppins: 'Poppins', sans-serif;
  --font-fredoka: 'Fredoka', cursive;

  --gradient-red: linear-gradient(to bottom, #460000 8%, #911A1C 66%);
}

@layer base {
  :root {
    --font-poppins: 'Poppins', sans-serif;
    --font-fredoka: 'Fredoka_One', cursive;
  }

  body {
    font-family: var(--font-poppins);
    background: var(--background);
    color: var(--foreground);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-fredoka);
  }
}

@layer utilities {
  .text-red-gradient {
    background: var(--gradient-red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; 
  }
}


/* :root {
  --background: #FEFEFA;
  --foreground: #0E0000;

  --darkRed: #460000;
  --crimsonRed: #911A1C;
  --pastel-pink: #F1AD93;
  --misty-rose: #F3CCB1;
  --cream: #F5F5D9;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Fredoka;
} */
